@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');

*{
  font-family: 'Quicksand', sans-serif !important;
}

.title {
  font-size: 13em;
  margin-top: -15%;
  color: #f5f5f5;
  font-weight: 600;
}

.titlePrimary {
  font-family: "Megrim", cursive !important;
}

.header-navbar .ant-layout-header {
  background: transparent;
  padding-inline: 0px;
  height: unset;
  line-height: unset;
}

.card-avatar .css-1pqm26d-MuiAvatar-img {
  border-radius: 50%;
}

.bg-card-explore {
  /* background: linear-gradient(rgba(255, 64, 59, 0.2), rgba(255, 255, 255, 0.6)),
    url(./assets/images/qscome-bg-6.png); */
  background: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.8)
    ),
    url(./assets/images/qscome-bg-6.png);
  width: 100%;
  height: auto;
  padding: 70px 0px;
  box-shadow: 0px 0px 60px 8px rgba(1, 1, 1, 0.8);
  border-radius: 8px;
}

.parallax {
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg,
.button {
  margin-top: 180px;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.bg {
  animation: pulse 1.2s ease infinite;
  background: #fff;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 99;
  border: none;
  background: #fff;
  background-size: 18px;
  cursor: pointer;
  outline: none;
}

.btnPulse {
  margin-top: -20px;
}

.card-container {
  position: relative;
  width: 360px;
  height: 290px;
}

.card {
  margin-top: -28px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 125%;
  background-color: #fafafa;
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(17, 17, 17, 0.35);
  transition: transform 0.35s ease-out;
  transform: translate(var(--x), var(--y)) scale(0.35) rotate(var(--angle));
  will-change: transform;
}
.card:hover {
  transform: scale(1) rotate(0deg);
  box-shadow: unset;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0);
}
.card:hover:before {
  opacity: 1;
}

.card:before {
  content: "";
  display: block;
  width: 90%;
  height: 85%;
  margin: 5%;
  background: var(--image) center center no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 5px rgba(34, 34, 34, 0.35);
  border-radius: 2px;
  filter: sepia(0.2) brightness(0.9) contrast(1.2);
  transition: opacity 0.35s ease-out;
  opacity: 0.6;
  will-change: opacity;
}

.card:after {
  display: block;
  content: var(--caption);
  font-weight: 500;
  color: #555;
  font-size: 10vmin;
  opacity: 0.75;
  text-align: center;
}

.ant-notification{
  z-index: 9999;
}
.sticky-button-container {
  position: -webkit-sticky;
  position: sticky;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}
@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.filterPanel .ant-card-head{
  text-align: center;
}

.panelFilter .ant-drawer-body{
  background-color: rgba(230,81,62,1);
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(255,255,255,0.4)), url(./assets/images/qscome-header-1.png);
  background-repeat: repeat-x;
  background-position: top;
  background-size: auto;

}


@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
  .title {
    font-size: 7em;
    margin-top: 13%;
    color: #f5f5f5;
    font-weight: 600;
  }
  .bg,
  .button {
    margin-top: 250px;
  }
}
